/* globals */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Titillium+Web:wght@400;700&display=swap');

@font-face {
  font-family: 'SFU AGBuchStencilBQ';
  src: url('../font/SFUAGBuchStencilBQMedium.eot');
  src: local('SFU AGBuchStencilBQ Medium'), local('SFUAGBuchStencilBQMedium'),
    url('../font/SFUAGBuchStencilBQMedium.eot?#iefix') format('embedded-opentype'),
    url('../font/SFUAGBuchStencilBQMedium.woff2') format('woff2'),
    url('../font/SFUAGBuchStencilBQMedium.woff') format('woff'),
    url('../font/SFUAGBuchStencilBQMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@-webkit-keyframes animUp {
  0% {
    -webkit-transform: translateY(-10%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-5%);
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'SFU AGBuchStencilBQ';
  font-weight: 500;
  font-style: normal;
}
p {
  font-family: 'Montserrat';
  font-weight: 700;
}

.header {
  height: 90px;
  width: 100%;
  padding: 0 50px 0 50px;
  position: fixed;
  display: flex;
  z-index: 999;
  background-color: #900404;
  align-items: center;
  flex-direction: row;
}

.header h1 {
  font-size: 5 0px;
  display: flex;
  color: #fff;
}
.header .logo {
  width: 20%;
}

.header .menu {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.header .menu ul {
  flex-direction: row;
  display: flex;
  list-style: none;
}
.header .menu a {
  color: #fff;
  font-family: 'Montserrat';
  font-weight: 700;
  margin-right: 50px;
  text-decoration: none;
  text-transform: uppercase;
}
.header .menu a:hover {
  color: yellow;
}

.section {
  display: block;
  width: 100%;
  padding: 60px;
  padding-left: 120px;
  box-sizing: border-box;
}

/* SECTION 1 */
.section-one {
  /* background-color: #900404; */
  background-image: url('../img/background3.jpg');
  background-repeat: no-repeat;
}
.section-one .content {
  width: 80%;
  height: 100vh;
  color: #fff;
  font-size: 35px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  -webkit-animation: animUp 1s ease-in;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

/* END SECTION 1 */

/* Section 2 */
.section-two {
  background-color: green;
  padding: 0 !important;
}

.section-two .content {
  font-family: 'Montserrat';
  font-weight: 500;
  display: flex;
  flex-direction: row;
  top: 0;
  left: 0;
}
.section-two .content .col {
  width: 25%;
  background-color: thistle;
}
.section-two .content .col-3 {
  width: 50%;
  background-color: thistle;
}
.section-two .content .col .item-percent,
.section-two .content .col-3 .item-percent {
  background-color: #111;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-two .content .col .item-percent:hover {
  opacity: 0.7;
}
.section-two .content .col-3:hover .item-percent {
  opacity: 0.8;
}

.section-two .content .col .item-percent:hover .item-content,
.section-two .content .col-3 .item-percent:hover .item-content {
  opacity: 1;
  text-decoration: none;
}
.section-two .content .col .item-percent:hover .black {
  opacity: 1;
  color: #333;
}
.section-two .content .col-3 .item-percent:hover {
  font-size: 50px;
  opacity: 1;
  color: #000;
}
.section-two .content .col .item-percent .item-content,
.section-two .content .col-3 .item-percent .item-content {
  position: absolute;
  z-index: 3;
  opacity: 0;
  color: #fff;
}

.section-two .content .col .img-responsive,
.section-two .content .col-3 .img-responsive {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

/* End Section 2 */
/* SECTION 3 */
.section-three {
  background-color: #333;
  transform-origin: 0 0;
}
.section-three .about {
  text-align: center;
}
.section-three .about h1 {
  margin-bottom: 30px;
  color: #fff;
}
.section-three .about .about-content {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.section-three .about .about-content .about-content-one,
.section-three .about .about-content .about-content-two {
  text-align: start;
  color: #fff;
  width: 25%;
  margin: 50px;
  font-family: 'Montserrat';
}
.section-three .about .about-content .about-content-one .ico,
.section-three .about .about-content .about-content-two .ico {
  font-size: 50px;
  text-align: center;
}

/* END SECTION 3 */

/* SECTION 4 */
.section-four {
  padding: 0 !important;
  background-color: #333;
}
.section-four .skill-title {
  text-align: center;
  display: flex;
  align-items: center;
  margin: 20px;
  color: #fff;
}
.section-four .skill {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 350px;
}
.section-four .skill .skill-list {
  display: flex;
  flex-direction: row;
  padding: 0 5px 0 15px;
}
.section-four .skill .skill-item {
  width: 25%;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-four .skill .skill-item .skill-item-card {
  width: 350px;
  height: 300px;
  background-color: #333;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.section-four .skill .skill-item .skill-item-card:hover {
  transform: rotateY(180deg);
}

.section-four .skill .skill-item .skill-item-card .skill-item-card-front,
.section-four .skill .skill-item .skill-item-card .skill-item-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-four .skill .skill-item .skill-item-card .skill-item-card-front {
  color: #999;
}
.section-four .skill .skill-item .skill-item-card .skill-item-card-back {
  transform: rotateY(180deg);
  text-align: center;
  background-color: #fff;
}
/* development */
.section-four
  .skill
  .skill-item
  .skill-item-card
  .skill-item-card-back
  .skill-item-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.section-four
  .skill
  .skill-item
  .skill-item-card
  .skill-item-card-back
  .skill-item-list
  .skill-item-detail {
  padding: 10px;
}
.section-four
  .skill
  .skill-item
  .skill-item-card
  .skill-item-card-back
  .skill-item-list
  .skill-item-detail
  img {
  width: 25px;
  height: 25px;
}
.section-four
  .skill
  .skill-item
  .skill-item-card
  .skill-item-card-back
  .skill-item-list
  .skill-item-detail
  p {
  font-size: 10px;
}
/* end development */

/* END SECTION 4 */
/*  SECTION 5 */
.section-five {
  padding: 0 !important;
}
.section-five .blog {
  margin-top: 30px;
  text-align: center;
}
.section-five .blog-title {
  padding: 15px 0 15px 0;
}
.section-five .blog-title .blog-subtitle {
  margin-top: 30px;
}
.section-five .blog-title .blog-subtitle a {
  text-decoration: none;
  font-family: 'Montserrat';
  font-weight: 900;
  color: #333;
  padding: 15px 20px;
}
.section-five .blog-title .blog-subtitle a:hover {
  color: #900404;
}
.section-five .blog .blog-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.section-five .blog .blog-content .blog-content-item {
  width: 20%;
  margin: 0 10px 0 10px;
  height: 450px;
  text-align: center;
}

.section-five .blog .blog-content .blog-content-item .blog-content-item-img {
  width: 100%;
  height: 300px;
  border-width: 10px;
}
.section-five
  .blog
  .blog-content
  .blog-content-item
  .blog-content-item-img
  img {
  height: 100%;
}
.section-five
  .blog
  .blog-content
  .blog-content-item
  .blog-content-item-img
  :hover
  img {
  height: 100%;
  opacity: 0.5;
}
.section-five
  .blog
  .blog-content
  .blog-content-item
  .blog-content-item-details {
  padding: 30px 0 20px 0;
}
.section-five
  .blog
  .blog-content
  .blog-content-item
  .blog-content-item-details
  a {
  text-decoration: none;
  color: #333333;
}
.section-five
  .blog
  .blog-content
  .blog-content-item
  .blog-content-item-details
  a:hover {
  text-decoration: none;
  color: #900404;
}
.section-five
  .blog
  .blog-content
  .blog-content-item
  .blog-content-item-details
  p {
  font-size: 10px;
  padding-top: 10px;
  text-align: start;
}
.section-five .slide-dot {
  display: flex;
  justify-content: center;
}
.section-five .slide-dot .slide-dot-item {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: #000;

  margin: 0 10px 0 10px;
}
/* END SECTION 5 */
/*  SECTION FOOTER */
.footer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
  height: 50px;
  color: #fff;
  background-color: #333;
}
/*  end SECTION FOOTER */
